@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #e7e7e7;
  border-top: 4px solid #64b383;
  font-size: 14pt;
  background: #181818;
}

h1, h2, h3 {
  font-weight: 300;
}
h1 {
  margin: 40px 0;
  margin-left: 200px;
  font-size: 28pt;
}
h2 {
  margin: 5px 0;
  font-size: 20pt;
}
p {
  margin-top: 0;
}

.page {
  width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.content {
  float: right;
  width: 600px;
}

.nav {
  float: left;
  width: 180px;
  margin-right: 18px;
}
.nav a  {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-bottom: 1em;
}

li ul {
  color: #999;
  font-size: 12pt;
}

a {
  color: #64b383;
  text-decoration: none;
}
a:hover {
  color: #82eca6;
}

.logo {
  float: left;
  margin-top: 17px;
  margin-left: 30px;
}

.secondary {
  display: none;
}

.active {
  color: #82eca6;
}

.header {
  color: #e7e7e7;
}
